<!-- contacts -->
<div style="margin-top:55px">
  <h3 class="fw-bold text-info">Clients</h3>
  <% 
  var contactsReceived = [...new Set(ContactsMsg.map(message => message.expediteur))];
  var contactsSent = [...new Set(ContactsMsg.map(message => message.destinataire))];
  var contacts = [...new Set([...contactsReceived, ...contactsSent])];
  contacts.forEach(contact => {
    if (contact !== user.email) {
      if (contact === email){ %>
        <a  href="/dialogue/<%=contact %>" 
            class="text-decoration-none text-light text-capitalize fw-bold fs-3">
          <%= contact %><br>
        </a> <% 
      } else { %>
        <a  href="/dialogue/<%=contact %>" 
            class="text-decoration-none text-secondary text-capitalize fw-bold fs-3">
          <%= contact %><br>
        </a> <% 
      }
    }
  }); %> 
  <a href="/message/new" class="btn btn-success fw-bold mt-2">Nouveau</a>
</div>





